.card {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  padding: 14px 28px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #1d1e21;
}
.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.6);
}
.avatar {
  border-radius: 30px;
  width: 44px;
  height: 44px;
}

.rating {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
  gap: 6px;
  align-self: flex-start;
}

.icon {
  width: 16px;
  height: 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #6a6a6f;
}

@media screen and (min-width: 375px) {
  .name {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .info {
    justify-content: start;
  }

  .nameWrap {
    margin-left: 20px;
  }

  .rating {
    margin-left: auto;
  }
}
