.logoLink {
  display: flex;
  gap: 12px;

  align-items: center;
}
.logoImg {
  width: 32px;
  height: 32px;
}
.logoText {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #fff;
}
