.medicinePage {
  padding: 120px 20px;
  min-height: 700px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  color: #1d1e21;
  margin-bottom: 40px;
}

.loadingText {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #59b17a;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .medicinePage {
    padding: 152px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .medicinePage {
    padding: 172px 108px;
  }
}
