.socialList {
  display: flex;
  margin-top: 20px;
  gap: 32px;
}

.iconsitem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid rgba(247, 248, 250, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
}
.icon {
  width: 26px;
  height: 26px;
}

.link:hover {
  border-color: transparent;
}
