.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 25px 20px;
  width: 100%;
}
.burgerIcon {
  width: 32px;
  height: 32px;
}

.burgerIcon {
  width: 32px;
  height: 32px;
  stroke: #59b17a;
}

.burgerBtn {
  width: 32px;
  height: 32px;
}

.descNavWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 30px 108px;
  }
}
