.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 100%;
  height: 44px;
  background: #fff;
  padding: 14px;
  transition: var(--borderAnimation);
}
.input:hover,
.input:focus {
  border-color: #59b17a;
}
.input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
}

.inputWrapper {
  position: relative;
}

.error {
  color: red;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: -12px;
  padding: 0 10px;
  width: 100%;
}
.btnWrap {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  text-align: center;
}

.btn {
  margin-top: 10px;
  transition: var(--butonAnimation);
}

.btn:hover {
  background: #3f945f;
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: 54px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .input {
    width: 280px;
  }
  .btn {
    margin-top: 62px;
    width: 280px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    margin-top: 178px;
  }
  .input {
    width: 240px;
  }
  .btn {
    width: 260px;
  }
}
