.imgWrap {
  border: 1.15px solid #f1f1f1;
  border-radius: 20px;
  width: 80px;
  height: 100%;
}
.img {
  border-radius: 20px;
}
.infoBlock {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 8px;
}
.category {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #6a6a6f;
  margin-bottom: 12px;
}
.price {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #1d1e21;
  margin-bottom: 18px;
}
.btnBlock {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.countWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 95px;
  height: 32px;
}
.countWrap button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon {
  width: 20px;
  height: 20px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 8px 12px;
  width: 89px;
  height: 32px;
  background: rgba(232, 80, 80, 0.1);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #e85050;
  transition: var(--butonAnimation), var(--colorTextAnimation);
}

.btn:hover {
  background: #e85050;
  color: #fff;
}

@media screen and (min-width: 375px) {
  .imgWrap {
    border: 1.15px solid #f1f1f1;
    border-radius: 27px;
    width: 120px;
    height: 120px;
  }
  .img {
    border-radius: 27px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
  }
  .price {
    margin-top: 6px;
    font-size: 14px;
    margin-left: auto;
  }
  .category {
    font-size: 14px;
  }

  .imgWrap {
    width: 122px;
    height: 133px;
  }

  .img {
    width: 122px;
    height: 133px;
  }
  .infoBlock {
    width: 100%;
    justify-content: space-between;
  }
  .textContainer {
    display: flex;
    align-items: flex-start;
  }
  .btnBlock {
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
  }
}
