.footerLinks {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.text {
  font-weight: 400;
  font-size: 10px;
  line-height: 129%;
  color: #f7f8fa;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: rgba(247, 248, 250, 0.3);
}

.text:last-child::after {
  content: none;
}

.linkText:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footerLinks {
    margin: 0 auto;
    margin-top: 34px;
  }
  .text {
    font-size: 14px;
  }
}
